html, body {
  /*margin: 0px auto;*/
  height: 100%;
  /*background-color: #fff;*/
  font-family: 'Raleway', sans-serif;
  color:#888;
}

.centered {
  text-align: center;
}

h2{
  color:#555;

}

.subtitle{
  letter-spacing:2px;
  margin-bottom:0px;
  padding:30px 30px 30px 30px;
  font-size:22px;
  line-height: 25px;
  font-weight: 200;
}
