<section id="contact">

<div class="container">
  <div class="row">
    <div class="col-sm-12 centered">
      <h2>We'd love to hear from you</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 centered">
      <!--p class="subtitle">Something here</p-->
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 centered">
        <p>Phone: {{ site.phone}}</p>
        <p>Email: <a href="mailto:{{site.email}}">{{site.email}}</a></p>
      </div>
  </div>
</div>

</section>
