<section id="contact">

<div class="container">
  <div class="row">
    <div class="span12 centered">
      <h2>We'd love to hear from you</h2>
    </div>
  </div>
  <div class="row">
    <div class="span12 centered">
      <p class="subtitle" >Something here</p>
    </div>
  </div>
  <div class="row">
    <div class="span4 offset4">
      <div class="info">
        <p>Phone: {{ site.phone}}</p>
        <p>Email: <a href="mailto:{{site.email}}">{{site.email}}</a></p>
        <p>Twitter: <a href="http://twitter.com/jeremykahne">jeremykahne</a>
      </div>
    </div>
  </div>
</div>

</section>
