<section id="what-we-do">

<div class="container">

  <div class="row">
    <div class="col-xs-12 centered">
      <h2>What we do</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 centered">
      <p class="subtitle">Nimble River consults on Ruby on Rails, evangelizes Kanban boards and lean methods, and gets your application and processes under control with the results you want.  Whether you need a prototype, team augmentation, or an application rescued from technical debt, say hi at hello@nimbleriver.com and let's chat about your needs.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="what-we-do--box">
        <h6>Custom Development</h6>
        <p>
        We prefer the Ruby on Rails stack, but we can do much more.  </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="what-we-do--box">
        <h6>Strategy and Leadership</h6>
        <p>
        All too often, miscommunication between developers and management that end in panic can be avoided by following a few simple to understand principals. These principals will also allow you to remove process bottlenecks, align teams, and better see the stream of value produced by your team.  
        </p>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="what-we-do--box">
        <h6>User Experience</h6>
        <p>
        User interaction can be streamlined by noticing everyday pain that customers experience and pay attention to it at every step of the development process. Finding the common ground of all user activities is what should be designed for, not individual preferences.
        </p>
      </div>
    </div>

  </div>

</div>

</section>
