<section id="what-we-do">

<div class="container">

  <div class="row">
    <div class="col-xs-12 centered">
      <h2>What we do</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 centered">
      <p class="subtitle">Nimble River consults on Ruby on Rails, evangelizes Kanban boards and Lean methods, and generally gets your application and processes under control. Say hi at hello@nimbleriver.com and let's chat about your ideas.</p>
    </div>
  </div>

  <div class="row">

    <div class="col-sm-4">
      <div class="what-we-do--box">
        <h6>Development</h6>
        <p>
        We're huge fans of Ruby on Rails and lean processes. Whether you need help planning and starting work on your idea or if you already have an application and need an extra hand, we can step in. We can design and develop your solution, augment your team, or rescue your project.
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="what-we-do--box">
        <h6>Strategy and Leadership</h6>
        <p>
        We like to keep moving.  This means removing bottlenecks, aligning teams, and getting expectations in order so projects can get under control. Figuring out what to avoid working on is as important as what to work on. Your optimal team flow is more imporant than individual output and we can help mentor your team to get them where they need to be.
        </p>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="what-we-do--box">
        <h6>User Experience</h6>
        <p>
        User interaction can be streamlined by noticing everyday pain that customers experience and pay attention to it at every step of the development process. Finding the common ground of all user activities is what should be designed for, not individual preferences.
        </p>
      </div>
    </div>

  </div>

</div>

</section>
