<section id="who-we-are">

<div class="container">
  <div class="row">
    <div class="col-sm-12 centered">
      <h2>Who we are</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 centered">
      <p class="subtitle">We lead lives of interesting adventures</p>
    </div>
  </div>
  <div class="row">


    <div class="col-sm-2 col-sm-offset-1">
      <div class="who-we-are--profile centered" >
        <img class="circle" src="img/mehh.png"/>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="who-we-are--profile">
        <div class="name">Jeremy Kahne</div>
        <div class="who-we-are--box">
          <div class="position">Product Design, Lean Processes, UX, Backend </div>
          <div class="details">
            <blackquote>
            "I enjoy spending time camping &amp; hiking, lifting &amp; running,  playing board games, drawing, and having a nice craft beer.  I work in my home office in Cincinnati, OH where I have entirely too many Lego sets sitting on my shelves."
            </blackquote>
            <span class="links">

              <a href="https://github.com/jkahne"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/jeremykahne"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/jeremykahne"><i class="fa fa-linkedin"></i></a>

            </span>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>

</section>

