<section id="who-we-are">

<div class="container">
  <div class="row">
    <div class="col-sm-12 centered">
      <h2>Who we are</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 centered">
      <p class="subtitle">We lead lives of interesting adventures</p>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-2 col-sm-offset-1">
      <div class="who-we-are--profile centered" >
        <img class="circle" src="img/me_twitter.jpg"/>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="who-we-are--profile">
        <div class="name">Jeremy Kahne</div>
        <div class="who-we-are--box">
          <div class="position">Product Design, Lean Processes, UX, Backend </div>
          <div class="details">
            "I enjoy spending time camping &amp; hiking, playing board games, drawing, and having a nice craft beer.  I work in my home office in Cincinnati, OH where I have entirely too many Lego sets sitting on my shelves."
            <span class="links">

              <a href="https://github.com/jkahne"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/jeremykahne"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/jeremykahne"><i class="fa fa-linkedin"></i></a>

            </span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="col-sm-2 col-sm-offset-1 hidden-md hidden-lg">
      <div class="who-we-are--profile centered" >
        <img class="circle" src="http://www.gravatar.com/avatar/e101e1b775c764326954252ad3233a91.png"/>
      </div>
    </div>

    <div class="col-sm-8 col-md-offset-1">
      <div class="who-we-are--profile">
        <div class="name">Chris Chernesky</div>
        <div class="who-we-are--box">
          <div class="position">Developer, DevOps, Sage</div>
          <div class="details">
            "I enjoy spending time with my family. learning trades and crafts and practicing wilderness self-reliance techniques, I let the solution dictate the technology and am passionate about getting it right the first time. I work from my home office near Lebanon, OH."
            <span class="links">

              <a href="https://github.com/chernesk"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/chrischernesky"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/chrischernesky"><i class="fa fa-linkedin"></i></a>

            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-2 hidden-xs hidden-sm">
      <div class="who-we-are--profile centered" >
        <img class="circle" src="http://www.gravatar.com/avatar/e101e1b775c764326954252ad3233a91.png"/>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-2 col-sm-offset-1">
      <div class="who-we-are--profile centered" >
        <img class="circle" src="img/dtk.jpg"/>
      </div>
    </div>

    <div class="col-sm-8">
      <div class="who-we-are--profile">
        <div class="name">Dustin Kocher</div>
        <div class="who-we-are--box">
          <div class="position">Developer, Ruby on Rails Entusiast, Solutions Engineer</div>
          <div class="details">
            I define myself as a Father, Husband, and Friend. I love hanging out with my family, watching college football - mostly Purdue University, and having a nice beer with family or friend.  I work from my home office in Cold Spring, KY where I enjoy building what the client really wants not necessarily what they think they want.
            <span class="links">

              <a href="https://github.com/dtkocher"><i class="fa fa-github"></i></a>
              <a href="https://twitter.com/dustinkocher"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/pub/dustin-kocher/28/30b/28a"><i class="fa fa-linkedin"></i></a>

            </span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>

</section>

