#what-we-do {
  background: #fff;
  padding: 50px 0px 50px;
}

.what-we-do--box {
  padding: 20px;
  text-align: center;
}
.what-we-do--box h6 {
  margin-top:20px;
  text-transform:uppercase;
  font-weight: 600;
}

.what-we-do--box p {
  font-weight: 300;
 }
